.card-shadow {
  box-shadow: 5px 5px 10px #a9a9aa77, inset -5px -5px 10px #ffffff7e;
  background: #f4fafd;
  border-radius: 15px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: cornflowerblue;
  cursor: pointer;
}
.logo:hover {
  color: cornflowerblue;
}
.logo-icon {
  height: 25px;
}
.menu li a {
  font-weight: bold;
  color: black;
}
.menu-btn {
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
}
